.td {
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  background-color: #f3f3f3;
  padding: 0 15px;
}

.increase {
  background-color: #d6efdc;
}

.decrease {
  background-color: #f9dee0;
}
